.sidebar-wrapper {
    position: absolute;
    top: 46px;
    left: 0%;
    width: 14%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #9dc3ff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #4d90fe;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-align: center;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 24px;
    line-height: 60px;
    text-align: left;
}

.sidebar-nav > .sidebar-brand a {
    color: #4d90fe;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}