<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nav_search</title>

    <link rel="stylesheet" type="text/css" href="../styles/search.css">
</head>
<body>

<!-- in case
<div class="top_container"> -->
<div class="nav-search">
    <form action="http://www.google.co.uk" id="nav_searchform" target="_blank">
        <input name="keyword" type="text" class="nav-search-keyword" id="nav-search-keyword" autocomplete="off"
               placeholder="Search">
        <button type="submit" class="nav-search-submit"></button>
    </form>
</div>


</body>
</html>
