<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/charity/css/profilecss/style.css" rel="stylesheet">
</head>
<body>

<div style="background-color: #eeeeee;">
    <!-- aside menu -->
    <section>
        <!-- aside menubar -->
        <div id="sidebar">
            <ul class="sidebar-menu">
                <li>
                    <a id="descriptionLink" href="profile/{{vm.name}}">
                        <i></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i></i>
                        <span>Activity</span>
                        <span class="glyphicon glyphicon-plus act-sidebar"></span>
                    </a>
                    <ul class="sub">
                        <li><a id="lastActivityLink" href="profile/{{vm.name}}#lastActivity">Last Activity</a></li>
                        <li><a class="" href="profile/{{vm.name}}/activities">Past Activities</a></li>
                        <li ng-show="vm.isMatched"><a class="" href="profile/{{vm.name}}/new_activity">New Activity</a></li>
                    </ul>
                </li>
                <li>
                    <a id="financialLink" href="profile/{{vm.name}}#financial">
                        <i></i>
                        <span>Financial</span>
                    </a>
                </li>
                <li>
                    <a class="" href="#" ng-click="vm.donate()">
                        <i></i>
                        <span>Donate To Us</span>
                    </a>
                </li>
                <li>
                    <a id="contactDetailLink" href="profile/{{vm.name}}#contactDetail">
                        <i></i>
                        <span>Contact Us</span>
                    </a>
                </li>
                <li ng-show="vm.isMatched">
                    <a class="" href="profile/{{vm.name}}/setting">
                        <i></i>
                        <span>Setting</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section id="main-content">
        <!--<section class="wrapper">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-12">-->
                    <!--<h3 class="page-header"><i class="fa fa-file-text-o"></i> Activity {{vm.name}} Album</h3>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash;<div ng-show="!vm.activity.length"><h3>There is no activity of this charity.</h3></div>&ndash;&gt;-->
            <!--<div id="activityAlbum">-->
                <!--{{vm.name}}' Activity id {{vm.id}} Album-->
            <!--</div>-->

            <!--<div id="fb-root"></div>-->
            <!--<div ng-repeat="post in posts">-->
                <!--<div>{{post.title}}</div>-->
                <!--<div>{{post.content}}</div>-->
                <!--<button ng-click="share(post)">SHARE</button>-->
            <!--</div>-->
        <!--</section>-->

        <section id="gallery" class="parallax section">
            <div class="wrapsection">
                <div class="parallax-overlay" style="background-color:#00c1c1;opacity:0.9;"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 sol-sm-12">
                            <div class="maintitle">
                                <h3 class="section-title">Activity Album</h3>
                                <p class="lead">
                                    {{vm.name}}' Activity id {{vm.id}} Album
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <a href="https://ununsplash.imgix.net/photo-1429277158984-614d155e0017?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
                                <img src="https://ununsplash.imgix.net/photo-1429277158984-614d155e0017?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" alt="" class="image-responsive">
                                <div class="description">
                                    <span class="caption">This is <b>awesome</b></span>
                                    <span class="camera"><i class="fa fa-camera"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="https://unsplash.imgix.net/uploads/14115408840644deb16b0/2dc933e3?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
                                <img src="https://unsplash.imgix.net/uploads/14115408840644deb16b0/2dc933e3?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" alt="" class="image-responsive">
                                <div class="description">
                                    <span class="caption">Great <b>marathon</b></span>
                                    <span class="camera"><i class="fa fa-link"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="https://ununsplash.imgix.net/photo-1429277096327-11ee3b761c93?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
                                <img src="https://ununsplash.imgix.net/photo-1429277096327-11ee3b761c93?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" alt="" class="image-responsive">
                                <div class="description">
                                    <span class="caption">Running <b>miles</b></span>
                                    <span class="camera"><i class="fa fa-heart"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="https://unsplash.imgix.net/uploads/141327328038701afeede/eda0fb7c?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
                                <img src="https://unsplash.imgix.net/uploads/141327328038701afeede/eda0fb7c?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" alt="" class="image-responsive">
                                <div class="description">
                                    <span class="caption">Young <b>volunteers</b></span>
                                    <span class="camera"><i class="fa fa-tachometer"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="https://ununsplash.imgix.net/photo-1418225043143-90858d2301b4?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
                                <img src="https://ununsplash.imgix.net/photo-1418225043143-90858d2301b4?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" alt="" class="image-responsive">
                                <div class="description">
                                    <span class="caption">Charity <b>concerts</b></span>
                                    <span class="camera"><i class="fa fa-microphone"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="https://unsplash.imgix.net/photo-1428908799722-0a74e26ce7f6?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
                                <img src="https://unsplash.imgix.net/photo-1428908799722-0a74e26ce7f6?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" alt="" class="image-responsive">
                                <div class="description">
                                    <span class="caption">Generous <b>sponsors</b></span>
                                    <span class="camera"><i class="fa fa-coffee"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="https://unsplash.imgix.net/photo-1428908799722-0a74e26ce7f6?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
                                <img src="https://unsplash.imgix.net/photo-1428908799722-0a74e26ce7f6?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" alt="" class="image-responsive">
                                <div class="description">
                                    <span class="caption">Generous <b>sponsors</b></span>
                                    <span class="camera"><i class="fa fa-coffee"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<script>
//    window.fbAsyncInit = function() {
//        FB.init({appId: '1828642534025419', status: true, cookie: true,
//            xfbml: true});
//    };
//    (function() {
//        var e = document.createElement('script'); e.async = true;
//        e.src = document.location.protocol +
//                '//connect.facebook.net/en_US/all.js';
//        document.getElementById('fb-root').appendChild(e);
//    }());
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1828642534025419',
            xfbml      : true
//            version    : 'v2.8'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=1828642534025419";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<script src="/static/charity/css/profilecss/scripts.js"></script>

</body>
</html>