<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/charity/css/profilecss/style.css" rel="stylesheet">
</head>
<body>

<section class="profile-container">
    <!-- aside menubar -->
    <div id="sidebar">
        <ul class="sidebar-menu">
            <li>
                <a id="descriptionLink" href="profile/{{vm.name}}">
                    <i></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i></i>
                    <span>Activity</span>
                    <span class="glyphicon glyphicon-plus act-sidebar"></span>
                </a>
                <ul class="sub">
                    <li><a id="lastActivityLink" href="profile/{{vm.name}}#lastActivity">Last Activity</a></li>
                    <li><a class="" href="profile/{{vm.name}}/activities">Past Activities</a></li>
                    <li><a class="" href="profile/{{vm.name}}/new_activity">New Activity</a></li>
                </ul>
            </li>
            <li>
                <a id="financialLink" href="profile/{{vm.name}}#financial">
                    <i></i>
                    <span>Financial</span>
                </a>
            </li>
            <li>
                <a id="contactDetailLink" href="profile/{{vm.name}}#contactDetail">
                    <i></i>
                    <span>Contact Us</span>
                </a>
            </li>
            <li class="active">
                <a class="" href="#">
                    <i></i>
                    <span>Setting</span>
                </a>
            </li>
        </ul>
    </div>

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-file-text-o"></i> Setting</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Change Info
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal" name="settingForm" ng-submit="vm.update()">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Tag</label>
                                    <div class="col-sm-10">
                                        <input class="form-control tagsetting" name="tagsetting" id="tagsetting" ng-model="vm.setting.tags" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Paypal Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" name="paypalEmail" class="form-control" ng-model="vm.setting.paypal_email" maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Paypal Token</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="vm.setting.paypal_token" maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Current Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" ng-model="vm.setting.cur_password" maxlength="20">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">New Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" name="newPass" class="form-control" ng-model="vm.setting.new_password" maxlength="20">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Re-New Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" name="newRepass" class="form-control" ng-model="vm.setting.renew_password" maxlength="20">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <span class="error" ng-show="settingForm.paypalEmail.$error.email">
                                            Not valid email! &nbsp;
                                        </span>
                                        <span class="error" ng-show="!vm.setting.cur_password && vm.setting.new_password">
                                            Current password is required! &nbsp;
                                        </span>
                                        <span class="error" ng-show="vm.setting.cur_password && !vm.setting.new_password">
                                            New password is required! &nbsp;
                                        </span>
                                        <span class="error" ng-show="vm.setting.new_password != vm.setting.renew_password">
                                            New password is not matched! &nbsp;
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary" ng-disabled="vm.isSaving || ((vm.setting.cur_password && !vm.setting.new_password) || (!vm.setting.cur_password && vm.setting.new_password) || (vm.setting.new_password != vm.setting.renew_password) || (settingForm.paypalEmail.$error.email))">Submit</button>
                                        <div ng-show="vm.isSaving">Saving ...</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>
</section>
<script>
    $(document).ready(function(){
        // Tags Input
        $(".tagsetting").tagsInput();
    });
</script>

<script src="/static/charity/css/profilecss/scripts.js"></script>
<script src="/static/charity/js/library/jquery.tagsinput.js"></script>
</body>
</html>