<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/charity/css/profilecss/style.css" rel="stylesheet">
</head>
<body>

<!-- container section start -->
<section class="profile-container">
    <!-- aside menubar -->
    <div id="sidebar">
        <ul class="sidebar-menu">
            <li>
                <a class="" href="{{vm.user}}/profile">
                    <i></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i></i>
                    <span>Activity</span>
                    <!-- Create class later, just a draft -->
                    <span class="glyphicon glyphicon-plus" style="float: right; margin-right: 8px; margin-top: 6px; font-size: 10px;"></span>
                </a>
                <ul class="sub">
                    <li class="active"><a class="" href="{{vm.user}}/new_activity">New Activity</a></li>
                    <li><a class="" href="{{vm.user}}/activities">Past Activity</a></li>
                </ul>
            </li>
            <li>
                <a class="" href="{{vm.user}}/setting">
                    <i></i>
                    <span>Setting</span>
                </a>
            </li>
        </ul>
    </div>

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-file-text-o"></i> New Activity</h3>
				</div>
			</div>
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Create
                        </header>
                        <div class="panel-body" ng-show="vm.isCharity">
                            <form class="form-horizontal" ng-submit="vm.update()" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Activity/Event Name</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" ng-model="vm.activity.name" placeholder="Ex. Help Children 2016">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Activity Picture</label>
                                    <input style="padding-left: 15px;" type="file" id="activityPicture" files-model="vm.activity.picture" />
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Date</label>
                                    <div class="col-sm-10">
                                        <input type="date" ng-model="vm.activity.date" placeholder="yyyy-MM-dd" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Detail</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="vm.activity.detail" placeholder="Ex. Queens Gate">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
            <!-- page end-->


            <!-- playground for image upload -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form" name="form" ng-submit="uploadImage()">
                        <label for="inputFile">Select Image:</label>
                        <input id="inputFile" type="file" files-model="newImage.image">
                        <br />
                        <label for="title">Title</label>
                        <input type="text" id="title" ng-model="newImage.title"><br />

                        <label for="description">Description</label>
                        <textarea id="description" ng-model="newImage.description"></textarea><br />
                        <button class="btn btn-primary" type="submit">
                            Upload
                        </button>
                    </form>
                </div>
            </div>
            <!-- display the images -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" ng-repeat="image in images track by image.pk">
                    <h3>
                        {{ image.title }}
                        <button class="btn btn-warning" ng-click="deleteImage(image)">Delete</button>
                    </h3>
                    <a href="{{ image.image }}">
                        <img class="img-responsive" ng-src="{{ image.thumbnail }}">
                        <p>{{ image.description }}</p>
                    </a>
                </div>
            </div>
            <!-- End of playground for image upload -->

        </section>
    </section>
</section>

<script src="/static/charity/css/profilecss/scripts.js"></script>
</body>
</html>