<!--
<div class="profile" ng-show="vm.profile">
    <form role="form" class="profilesetting" ng-submit="vm.update()">
      <div class="form-group">
        <label for="settings__name">Name</label>
        <input type="text" class="form-control" ng-model="vm.profile.name" placeholder="ex. Imperial Charity Soc." />
      </div>

      <div class="form-group">
        <label for="settings__description">Description</label>
        <input type="text" class="form-control" ng-model="vm.profile.description" placeholder="ex. Imperial Charity Soc was found in ..." />
      </div>

      <div class="form-group">
        <label for="settings__address">Address</label>
        <input type="text" class="form-control" ng-model="vm.profile.address" placeholder="ex. Queens Gate" />
      </div>

      <div class="form-group">
        <label for="settings__phonenumber">Phone Number</label>
        <input type="text" class="form-control" ng-model="vm.profile.phonenumber" placeholder="ex. 078999487965" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
</div>-->

<div class="profile" ng-show="vm.isCharity">
    <form role="form" class="profilesetting" ng-submit="vm.update()">
      <div class="form-group">
        <label for="settings__name">Name</label>
        <input type="text" class="form-control" ng-model="vm.profile.name" placeholder="ex. Imperial Charity Soc." />
      </div>

      <div class="form-group">
        <label for="settings__description">Description</label>
        <input type="text" class="form-control" ng-model="vm.profile.description" placeholder="ex. Imperial Charity Soc was found in ..." />
      </div>

      <div class="form-group">
        <label for="settings__address">Address</label>
        <input type="text" class="form-control" ng-model="vm.profile.address" placeholder="ex. Queens Gate" />
      </div>

      <div class="form-group">
        <label for="settings__phonenumber">Phone Number</label>
        <input type="text" class="form-control" ng-model="vm.profile.phone_number" placeholder="ex. 078999487965" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
</div>
