<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/charity/css/profilecss/style.css" rel="stylesheet">
    <link href="/static/charity/css/profilecss/rotateAlbum.css" rel="stylesheet">
</head>
<body>

<div style="background-color: #eeeeee;">
    <!-- aside menu -->
    <section>
    <!-- aside menubar -->
    <div id="sidebar">
        <ul class="sidebar-menu">
            <li>
                <a id="descriptionLink" href="profile/{{vm.name}}">
                    <i></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i></i>
                    <span>Activity</span>
                    <!-- Create class later, just a draft -->
                    <span class="glyphicon glyphicon-plus" style="float: right; margin-right: 8px; margin-top: 6px; font-size: 10px;"></span>
                </a>
                <ul class="sub">
                    <li><a id="lastActivityLink" href="profile/{{vm.name}}#lastActivity">Last Activity</a></li>
                    <li class="active"><a class="" href="#">Past Activities</a></li>
                    <li><a class="" href="profile/{{vm.name}}/new_activity">New Activity</a></li>
                </ul>
            </li>
            <li>
                <a id="financialLink" href="profile/{{vm.name}}#financial">
                    <i></i>
                    <span>Financial</span>
                </a>
            </li>
            <li>
                <a class="" href="">
                    <i></i>
                    <span>Donate To Us</span>
                </a>
            </li>
            <li>
                <a id="contactDetailLink" href="profile/{{vm.name}}#contactDetail">
                    <i></i>
                    <span>Contact Us</span>
                </a>
            </li>
            <li>
                <a class="" href="{{vm.user}}/setting">
                    <i></i>
                    <span>Setting</span>
                </a>
            </li>
        </ul>
    </div>
</section>

    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-file-text-o"></i> What We {{vm.name}} Do</h3>
                </div>
            </div>

            <div id="activityList">
                <table>
                    <tr ng-repeat="activity in vm.activity track by $index">
                        <td align="center" style="border: 1px #ccc solid; height: 250px; width: 575px; vertical-align: top; text-align: center;">
                            <div id="carousel" style="margin-left: 140px; margin-top: 30px;">
                                <figure><img src="http://lorempixel.com/186/116/nature/1" alt=""></figure>
                                <figure><img src="http://lorempixel.com/186/116/nature/1" alt=""></figure>
                                <figure><img src="http://lorempixel.com/186/116/nature/3" alt=""></figure>
                                <figure><img src="/static/charity/images/no-user-image.gif" alt=""></figure>
                                <figure><img src="http://lorempixel.com/186/116/nature/5" alt=""></figure>
                                <figure><img src="http://lorempixel.com/186/116/nature/6" alt=""></figure>
                            </div>
                            <div style="margin-top: 240px;">
                                <button type="button" class="btn btn-info btn-md"><a href="#">All Pictures</a></button>
                            </div>
                        </td>
                        <td style="border: 1px #ccc solid;">
                            <h3>Activity Name : {{activity.name}}</h3>
                            <h3>Activity Date :</h3>
                            <h3>Activity Description :</h3>
                            <p style="font-size:24px; font-weight:200;">
                                <textarea id="desTextArea" name="desTextArea" class="disTextArea" rows="4" cols="45" maxlength="200" readonly="readonly">{{activity.description}}</textarea>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </section>
</div>
<script>

</script>

<script src="/static/charity/css/profilecss/scripts.js"></script>

</body>
</html>