<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/charity/css/profilecss/style.css" rel="stylesheet">
</head>
<body>

<!-- container section start -->
<section class="profile-container">
    <!-- aside menubar -->
    <div id="sidebar">
        <ul class="sidebar-menu">
            <li>
                <a class="" href="profile/{{vm.name}}">
                    <i></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i></i>
                    <span>Activity</span>
                    <span class="glyphicon glyphicon-plus act-sidebar"></span>
                </a>
                <ul class="sub">
                    <li><a id="lastActivityLink" href="profile/{{vm.name}}#lastActivity">Last Activity</a></li>
                    <li><a href="profile/{{vm.name}}/activities">Past Activities</a></li>
                    <li class="active"><a href="#">New Activity</a></li>
                </ul>
            </li>
            <li>
                <a id="financialLink" href="profile/{{vm.name}}#financial">
                    <i></i>
                    <span>Financial</span>
                </a>
            </li>
            <li>
                <a id="contactDetailLink" href="profile/{{vm.name}}#contactDetail">
                    <i></i>
                    <span>Contact Us</span>
                </a>
            </li>
            <li>
                <a class="" href="profile/{{vm.name}}/setting">
                    <i></i>
                    <span>Setting</span>
                </a>
            </li>
        </ul>
    </div>

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-file-text-o"></i> New Activity</h3>
				</div>
			</div>
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Create
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal" ng-submit="vm.saveActivity()" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Activity/Event Name</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" ng-model="vm.activity.name" maxlength="40" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Activity Picture</label>
                                    <div class="col-sm-10">
                                        <input type="file" upload-files multiple />
                                        <ul>
                                            <li ng-repeat="file in files">{{file.name}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Date</label>
                                    <div class="col-sm-10">
                                        <input type="date" ng-model="vm.activity.date" placeholder="yyyy-MM-dd" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Description</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="vm.activity.description" maxlength="200">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary" ng-disabled="vm.isDisabled">Submit</button>
                                        <div ng-show="vm.isDisabled">Saving ...</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
</section>

<script src="/static/charity/css/profilecss/scripts.js"></script>
</body>
</html>