<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/charity/css/home/style.css" rel="stylesheet">
</head>
<body>

<!-- banner -->
<div class="banner" id="home">
    <section class="slider">
        <div id="slides_control">
            <div>
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}">
                        <div class="carousel-caption">
                            <h4>Slide {{$index+1}}</h4>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </section>
</div>
<!-- end of banner -->

<!--website short description -->
<div class="provide">
    <div class="col-md-3 provide-left provide-one">
        <h5>&nbsp;</h5>
        <h3>Latest activities </h3>
        <p>You can find the latest activities of charities from all over the world in our website.</p>
    </div>
    <div class="col-md-3 provide-left provide-two">
        <h5>&nbsp;</h5>
        <h3>Easy donation</h3>
        <p>Use your paypal account to make your donation easily.</p>
    </div>
    <div class="col-md-3 provide-left provide-tre">
        <h5>&nbsp;</h5>
        <h3>Fermentum</h3>
        <p>Praesent aliquam tortor non quam ornare volutpat. Integer at vehicula turpis.</p>
    </div>
    <div class="col-md-3 provide-left provide-four">
        <h5>&nbsp;</h5>
        <h3>Pellentesque</h3>
        <p> Praesent aliquam tortor non quam ornare volutpat. Integer at vehicula turpis.</p>
    </div>
    <div class="clearfix"></div>
</div>
<!--end website short description -->

<!-- Our mission -->
<div class="welcome">
    <div class="container">
        <div class="welcome-top">
            <div class="col-md-6 welcome-left">
                <h3>Our Mission</h3>
                <h4>The aim of this website is to allow charities list themselves in an online portal
                    such that anyone looking to donate to a particular cause is able to see the available charities
                    and be able to donate to them directly.</h4>
                <p></p>
            </div>
            <div class="col-md-6 welcome-left">
                <h3>How We Work?</h3>
                <h4>Charities can register themselves and introduce themselves by showing their profiles.
                    People who want to donate can search for charities. They can not only ask for volunteer help,
                    but also donate in kind.</h4>
                <p></p>
            </div>
        </div>
    </div>
</div>
<!-- End Our mission -->

<!-- Charities -->
<div class="news">
    <div class="container">
        <div class="news-top">
            <div class="col-md-8 news-left">
                <div class="news-heading">
                    <h3>Our Suggestion Charities</h3>
                </div>
                <div class="news-bottom">
                    <h4>Excepteur sint occaecat cupidatat non proident</h4>
                    <p>Quisque at tellus ullamcorper, pharetra arcu a, suscipit purus. Nullam feugiat in augue in consequat. Sed ac dictum ligula, et pellentesque velit. In gravida eu felis sit amet molestie. Morbi sed ex ac enim finibus vulputate. Cras arcu magna, auctor ornare neque in, finibus tincidunt augue. </p>
                    <div class="news-one">
                        <div class="news-one-left">
                            <img src="/static/charity/images/homepage.jpg" alt="" />
                        </div>
                        <div class="news-one-right">
                            <h4>Morbi sed ex ac enim finibus vulputate. Cras arcu magna, auctor ornare neque in.</h4>
                            <p>Nullam egestas diam eu felis dignissim, vitae posuere ex pretium. Morbi quam purus, rhoncus eget enim sed, laoreet venenatis arcu. Curabitur vestibulum, orci pulvinar pretium cursus, diam ante pretium elit, at finibus nisl ligula vitae enim. eu eleifend enim condimentum ac.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="news-one">
                        <h4>Nunc molestie venenatis nisi nec pharetra. Morbi nulla odio, commodo a facilisis sed, tristique eget ipsum.</h4>
                        <p>Cras gravida metus vel tortor porttitor pretium. Cras posuere sem ut neque commodo aliquet. Proin in dui tempor, volutpat velit congue, mollis felis. Proin quis ante vitae nunc cursus interdum. Sed nec placerat risus. Sed rhoncus nibh et accumsan placerat. Nunc nec libero a dui cursus mattis placerat a urna.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 news-right">
                <div class="news-heading">
                    <h3>The Top Charities</h3>
                </div>
                <div class="news-btm">
                    <div class="news-1">
                        <img src="/static/charity/images/homepage.jpg" alt="" />
                        <div class="n-1">
                            <h5>The Top Rate</h5>
                            <p>Mauris varius consequat tortor vitae</p>
                        </div>
                    </div>
                    <div class="news-1">
                        <img src="/static/charity/images/homepage.jpg" alt="" />
                        <div class="n-1">
                            <h5>The Top Donation</h5>
                            <p>Mauris varius consequat tortor vitae</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- End Charities -->

<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

<!---- start-smoth-scrolling---->
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
</body>
</html>