
.Content {
    position: absolute;
    left: 220px;
    width: 84%;
}

.Description {
    position: absolute;
    left: 0px;
    width: 100%;

}

.slide {
    position: absolute;
    width: 1000px;
    height: 300px;
    overflow: hidden;

}
td {
    width: 10%;
}
.contact {
    text-align: left;
    width: 40%;
    font-size: medium;
}

