body {
    font-family: Calibri;
}

.DNavigation {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5%;
    background-color: #81c2d6;
}

.DMainProfile {
    position: absolute;
    top: 5%;
    left: 0px;
    width: 100%;
    height: 90%;
    background-color: white;
}

.LCharName {
    position: absolute;
    font-family: Arial;
    font-size: x-large;
    font-weight: bold;
    top: 20px;
    left: 600px;
}

.LCharLabel {
    position: absolute;
    font-family: Arial;
    font-size: large;
    font-weight: bold;
    top: 50px;
    left: 700px;
}

.Table {
    position: absolute;
    top: 15%;
    left: 100px;
    width: 200px;
    text-align: center;
}

.Button {
    width: 180px;
    height: 30px;
    color: white;
    font-weight: bold;
    background-color: #81c2d6;
}

.DInfo {
    position: absolute;
    top: 15%;
    left: 400px;
    width: 600px;
    background-color: #81c2d6;
}

.DMediaLink {
    position: absolute;
    top: 95%;
    left: 0px;
    width: 100%;
    height: 5%;
    background-color: #81c2d6;
}
