body{
    /*overflow-y: scroll !important;*/
    min-width: 1200px;
}

/*a{*/
    /*color: whsite !important;*/
/*}*/

a:focus{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #373737;
    margin-bottom: 20px;
}

h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #696969;
    margin-bottom: 10px;
}

.center{
    text-align:center;
}

/* Navigation bar */

.custom-navbar{
    background: #4d90fe;
    height: 46px;
    min-height: 46px;
    padding: 0;
    top: 0;
    left: 0;
}

.custom-navbar ul{
    display: inline-block;
}

.custom-navbar li{
    height: 46px;
    min-width: 70px;
    text-align: center;
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.custom-navbar li:hover{
    border-bottom: 4px solid white;
}

.active{
    border-bottom: 4px solid white;
}

.custom-navbar li a{
    display: block;
    height: 46px;
    line-height: 46px;
    padding: 0;
    margin: 0;
    color: white;
    font-weight: bold;
}

/* Modals */
.form-control{
    padding: 3px 12px !important;
}

.search-pad{
    padding-top: 6px;
}