body{
    overflow-y: scroll !important;
    min-width: 1200px;
}

.main-content{
    padding: 20px;
}

a{
    color: white !important;
}

a:focus{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #373737;
    margin-bottom: 20px;
}

h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #696969;
    margin-bottom: 10px;
}

.center{
    text-align:center;
}

.value-label{
    display: inline-block;
    width: 65%;
}

.big-value{
    font-size: 20px;
}

.content-section{
    padding: 5px 25px 25px 25px;
}

.mini-section{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    min-height: 310px;
    padding: 0 15px 15px 15px;
    background-color: #f3f3f3;
}

.chart-canvas{
    margin: 15px;
}

/* Navigation bar */

.custom-navbar{
    background: #4d90fe;
    height: 46px;
    min-height: 46px;
    padding: 0;
    top: 0;
    left: 0;
}

.custom-navbar ul{
    display: inline-block;
}

.custom-navbar li{
    height: 46px;
    width: 70px;
    text-align: center;
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.custom-navbar li:hover{
    border-bottom: 4px solid white;
}

.active{
    border-bottom: 4px solid white;
}

.custom-navbar li a{
    display: block;
    height: 46px;
    line-height: 46px;
    padding: 0;
    margin: 0;
    color: white;
    font-weight: bold;
}

/* Modals */
.form-row{
    margin-bottom: 12px;
}

.form-control{
    padding: 3px 12px !important;
}

.form-buttons-div{
    text-align: right;
}

.no-posts-here {
  text-align: center;
}

.post {}

.post .post__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.post .post__meta a:hover {
  text-decoration: none;
}

.btn-add-new-post {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* Home page */

.home-header{
    height: 20%;
    max-height: 400px;
}

.home-header-left{
    border-left: 1px solid rgb(224,224,224);
    border-top: 1px solid rgb(224,224,224);
    border-bottom: 1px solid rgb(224,224,224);
    vertical-align: top;
    display: inline-block;
    width: 25%;
    padding: 20px;
}

.home-header-right{
    vertical-align: top;
    display: inline-block;
    width: 70%;
}

#header-timeline-bar{
    height: 20%;
}

.home-content{
    height: 70%;
    background-color: #e7e7e7;
}

/*Dashboard*/

.angular-google-map-container {
    height: 300px;
}