<div class="DNavigation"></div>


<!--main body of profile-->
<div class="DMainProfile">
  <label class="LCharName">{{profileJson.name}}</label>
  <label class="LCharLabel">{{profileJson.label}}</label>
  <!--option buttons-->
  <div>
    <table class="Table">
      <tr><td>
        <button class="Button">Brief Description</button>
      </td></tr>

      <tr><td>
        <button class="Button">Members</button>
      </td></tr>

      <tr><td>
        <button class="Button">Regulation</button>
      </td></tr>

      <tr><td>
        <button class="Button">Financial Statements</button>
      </td></tr>

      <tr><td>
        <button class="Button">Activities</button>
      </td></tr>

      <tr><td>
        <button class="Button">Contact Us</button>
      </td></tr>

      <tr><td>
        <button class="Button">Donate</button>
      </td></tr>

      <tr><td>
        <button class="Button">Rank</button>
      </td></tr>
    </table>

  </div>
  <!--main information-->
  <div>
    <p class="DInfo">{{Info}}</p>
  </div>

</div>

<!--several links to social media-->
<div class="DMediaLink"></div>