<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charity Profiles</title>

    <link rel="stylesheet" type="text/css" href="/static/charity/css/charityprofilecss/charityprofile.css"/>
    <link rel="stylesheet" type="text/css" href="/static/charity/css/charityprofilecss/casual.css"/>
    <link rel="stylesheet" type="text/css" href="/static/charity/css/charityprofilecss/min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/charity/css/charityprofilecss/sidebar.css"/>
    <script src="/static/charity/css/charityprofilecss/animatescroll.js"></script>

</head>


<body>
<!-- Sidebar -->

<div class="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <label class="charityname">
                {{ profile.charity_name }}
            </label>
        </li>
        <li>
            <a href="#" onclick="$('#description').animatescroll({element:'.Content'});"> Description</a>
        </li>
        <li>
            <a href="#" onclick="$('#financials').animatescroll({element:'.Content',padding:-360});"> Financials </a>
        </li>
        <li>
            <a href="#" onclick="$('#activities').animatescroll({element:'.Content',padding:-400});"> Latest
                Activity </a>
        </li>
        <li>
            <a ng-click="">Donate to us</a>
        </li>
    </ul>
</div>


<!--main body of profile-->
<div class="Content">
    <!--slides-->
    <div id="carousel-example-generic" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators hidden-xs">
            <li data-target="#carousel-example-generic" data-slide-to="0" ng-non-bindable class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive img-full" src="/static/charity/images/charity1.jpg" alt="">
            </div>
            <div class="item">
                <img class="img-responsive img-full" src="/static/charity/images/charity2.jpg" alt="">
            </div>
            <div class="item">
                <img class="img-responsive img-full" src="/static/charity/images/charity3.jpg" alt="">
            </div>
        </div>


    </div>
    <div id="description">
        <div class="CharRow">
            <div class="CharBox">
                <div class="col-lg-12 text-center">

                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <div class="brand-name">{{ profile.charity_name }}</div>
                    <hr class="tagline-divider">
                    <h2>
                        <small>charity for
                            <strong>{{ profileJson.targetpeople }}</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>


        <!--aims-->
        <div class="CharRow">
            <div class="CharBox">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text">Our
                        <strong>Aims</strong>
                    </h2>
                    <hr>
                    <hr class="visible-xs">
                    <p>{{ profile.description }}</p>

                </div>
            </div>
        </div>

        <!--contact details-->
        <div class="CharRow">
            <div class="CharBox">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text">Contact
                        <strong>details</strong>
                    </h2>
                    <hr>
                    <hr class="visible-xs">
                    <table width="100%">
                        <tr>
                            <td></td>
                            <td class="contact">Email:{{ profileJson.email }}</td>
                            <td></td>
                            <td class="contact">Website:{{ profileJson.website }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="contact">Tel:{{ profile.phone_number }}</td>
                            <td></td>
                            <td class="contact">Postcode:{{ profileJson.postcode }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td width="90%" class="contact">Address:{{ profile.address }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--financials-->
    <div id="financials">
        <div class="CharRow">
            <div class="CharBox">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text">Financials</h2>
                    <hr>
                    <hr class="visible-xs">
                    <table class="financialdata">
                        <tr>
                            <td width="50%">Income :&pound{{ financialsJson.income_total }}</td>
                            <td width="12%"></td>
                            <td width="38%">Spending :&pound{{ financialsJson.spending_total }}</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="financialchart">
                                    <canvas id="pie" class="chart chart-pie"
                                            chart-data="incomedata" chart-labels="labels" chart-options="options">
                                    </canvas>
                                </div>
                            </td>
                            <td></td>
                            <td>
                                <div class="financialchart">
                                    <canvas id="pie" class="chart chart-pie"
                                            chart-data="spendingdata" chart-labels="labels" chart-options="options">
                                    </canvas>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="chart-legend">
                                <li><span style="background-color: rgba(151,187,205,1)"></span>Voluntary:
                                    &pound{{ financialsJson.income_voluntary }}</li>
                            </td>
                            <td></td>
                            <td class="chart-legend">
                                <li><span style="background-color: rgba(151,187,205,1)"></span>Voluntary:
                                    &pound{{ financialsJson.spending_voluntary }}</li>
                            </td>
                        </tr>
                        <tr>
                            <td class="chart-legend">
                                <li><span style="background-color: rgba(220,220,220,1)"></span>Trading to raise funds
                                    :&pound{{ financialsJson.income_trading }}</li>
                            </td>
                            <td></td>
                            <td class="chart-legend">
                                <li><span style="background-color: rgba(220,220,220,1)"></span>Trading to raise
                                    funds :&pound{{ financialsJson.spending_trading }}</li>
                            </td>
                        </tr>
                        <tr>
                            <td class="chart-legend">
                                <li><span style="background-color: rgba(247,70,74,1)"></span>Investment
                                    :&pound{{ financialsJson.income_investment }}</li>
                            </td>
                            <td></td>
                            <td class="chart-legend">
                                <li><span style="background-color: rgba(247,70,74,1)"></span>Investment
                                    :&pound{{ financialsJson.spending_investment }}</li>
                            </td>
                        </tr>
                        <tr>
                            <td class="chart-legend">
                                <li><span style="background-color: rgba(70,191,189,1)"></span>Charitable activities
                                    :&pound{{ financialsJson.income_activities }}</li>
                            </td>
                            <td></td>
                            <td class="chart-legend">
                                <li><span style="background-color: rgba(70,191,189,1)"></span>Charitable activities
                                    :&pound{{ financialsJson.spending_activities }}</li>
                            </td>
                        </tr>
                        <tr>
                            <td class="chart-legend">
                                <li><span style="background-color: rgba(253,180,92,1)"></span>Other
                                    :&pound{{ financialsJson.income_other }}</li>
                            </td>
                            <td></td>
                            <td class="chart-legend">
                                <li><span style="background-color: rgba(253,180,92,1)"></span>Other
                                    :&pound{{ financialsJson.spending_other }}</li>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--activities-->
    <div id="activities">
        <div class="CharRow">
            <div class="CharBox">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text">Latest
                        <strong>activity</strong>
                    </h2>
                    <hr>


                    <!-- show latest activity -->
                    <div class="col-lg-12 text-center">
                        <h2>{{ activityJson.aname }}
                            <br>
                            <small>{{ activityJson.atime }}</small>
                            <small>{{ activityJson.aplace }}</small>
                        </h2>
                        <img class="img-responsive img-border img-full" src="/static/charity/images/charityback.jpg"
                             alt="">
                        <p>{{ activityJson.aintroduction }}</p>
                        <button class="button" ng-click="activityPage(profileJson.name)">More Activities</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>