<!--head-->
<div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
            <h1 class="brand-name">{{ profileJson.name }}</h1>
            <hr class="tagline-divider">
            <h2>
                <small>activities</small>
            </h2>
        </div>
    </div>
</div>

<!--activities-->
<div class="acontent">
    <div class="row" ng-repeat="x in activityJson">
        <div class="box">
            <div class="col-lg-12 text-center">
                <hr>
                <h2 class="intro-text text-center">{{ x.aname }}</h2>
                <hr>
                <div class="col-lg-12 text-center">
                    <h2>
                        <small>{{ x.atime }}</small>
                        <small>{{ x.aplace }}</small>
                    </h2>
                    <img class="img-responsive img-border img-full" src="http://placehold.it/700x300" alt="">
                    <p>{{ x.aintroduction }}</p>
                </div>
            </div>
        </div>
    </div>


</div>
<!--buttons-->
<div class="mainbutton">
    <button class="button">back</button>
</div>