/*.top_container{
  color: #222;
  position: relative;
  z-index: 10000;
}*/


.nav-search{
    position: relative;
    float: right;
    height: 32px;
    margin: 5px 20px 5px 0;
}


#nav_searchform{
    display: block;
    background-color: #fff;
    border-radius: 16px;
    padding-right: 30px;
    height: 30px;
    transition: .2s border-color;
    border: 1px solid #ccd0d7;
}

.nav-search-keyword{
    float: left;
    width: 78px;
    color: #99a2aa;
    font-size: 12px;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 10px;
    border: 0;
    box-shadow: none;
    background-color: transparent;
    transition: .2s width;
}

.nav-search-submit{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    min-width: 0;
    cursor: pointer;
    height: 32px;
    background: url(http://static.hdslb.com/images/base/icons.png) -786px -721px;
    margin: 0;
    padding: 0;
    border: 0;
}


