<!DOCTYPE html>
<html ng-app="linkingCharitiesWorldwideAppApp" lang="en">
<head>
    <meta property="og:title" content="Linking Charities World" />
    <meta property="og:description" content="Welcome to Charity Organisation Website" />
    <meta property="og:image" content="https://s23.postimg.org/mj3shxr97/Charity_Icon.jpg" />
    <title></title>

    <base href="/charity/" />

    {% include 'charity/stylesheets.html' %}
</head>
<body>
    <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <navbar></navbar>
    <div class="ng-view" style="padding-top: 46px" autoscroll="true"></div>

    {% include 'charity/javascripts.html' %}
</body>
</html>