{% load compress %}
{% load staticfiles %}

{% compress js %}

    <!-- DEPENDENCIES -->
    <script type="text/javascript" src="{% static 'dependencies/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-animate/angular-animate.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-aria/angular-aria.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-cookies/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-messages/angular-messages.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-resource/angular-resource.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-route/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-sanitize/angular-sanitize.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-touch/angular-touch.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'dependencies/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js' %}"></script>

    <script type="text/javascript" src="{% static 'dependencies/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/underscore/underscore.js' %}"></script>

    <script type="text/javascript" src="{% static 'dependencies/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-route/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-cookies/angular-cookies.js' %}"></script>

    <script type="text/javascript" src="{% static 'dependencies/ngDialog/js/ngDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/snackbarjs/src/snackbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-material/angular-material.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-animate/angular-animate.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-aria/angular-aria.js' %}"></script>

    <script type="text/javascript" src="{% static 'charity/js/app/components/navbar/angucomplete-alt.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'dependencies/material-design-lite/material.min.js' %}"/>

    <!-- OUR FILES -->
    <script type="text/javascript" src="{% static 'charity/js/app/module.js' %}"></script>
    <script type="text/javascript" src="{% static 'charity/js/app/config.js' %}"></script>
    <script type="text/javascript" src="{% static 'charity/js/app/routes.js' %}"></script>

    <script type="text/javascript"
            src="{% static 'charity/js/app/components/authentication/AuthenticationModule.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'charity/js/app/components/authentication/AuthenticationService.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'charity/js/app/components/authentication/RegisterController.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'charity/js/app/components/authentication/LoginController.js' %}"></script>

    <script type="text/javascript" src="{% static 'charity/js/app/components/navbar/NavbarModule.js' %}"></script>
    <script type="text/javascript" src="{% static 'charity/js/app/components/navbar/NavbarController.js' %}"></script>
    <script type="text/javascript" src="{% static 'charity/js/app/components/navbar/NavbarDirective.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'charity/js/app/components/navbar/AdvancedSearchController.js' %}"></script>

    <script type="text/javascript" src="{% static 'charity/js/app/components/snackbar/SnackbarModule.js' %}"></script>
    <script type="text/javascript" src="{% static 'charity/js/app/components/snackbar/SnackbarService.js' %}"></script>

    <script type="text/javascript" src="{% static 'charity/js/app/components/home/HomeModule.js' %}"></script>
    <script type="text/javascript" src="{% static 'charity/js/app/components/home/HomeController.js' %}"></script>
    <script type="text/javascript" src="{% static 'charity/js/app/components/home/HomeService.js' %}"></script>

    <script type="text/javascript" src="{% static 'charity/js/app/components/dashboard/DashboardModule.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'charity/js/app/components/dashboard/DashboardController.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'charity/js/app/components/dashboard/DashboardService.js' %}"></script>

    <script type="text/javascript" src="{% static 'charity/js/app/components/profiles/ProfileModule.js' %}"></script>
    <script type="text/javascript" src="{% static 'charity/js/app/components/profiles/ProfileService.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'charity/js/app/components/profiles/ProfileController.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'charity/js/app/components/profiles/ProfileActivityController.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'charity/js/app/components/profiles/ProfileNewActivityController.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'charity/js/app/components/profiles/ProfileSettingsController.js' %}"></script>

    <script type="text/javascript" src="{% static 'charity/js/app/components/search/SearchModule.js' %}"></script>
    <script type="text/javascript" src="{% static 'charity/js/app/components/search/SearchController.js' %}"></script>
    <script type="text/javascript" src="{% static 'charity/js/app/components/search/SearchService.js' %}"></script>

    <script type="text/javascript" src="{% static 'charity/js/app/components/charityprofile/Chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'charity/js/app/components/charityprofile/Chart.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'charity/js/app/components/charityprofile/angular-chart.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'charity/js/app/components/charityprofile//angular-chart.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'charity/js/app/components/charityprofile/CharityProfileModule.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'charity/js/app/components/charityprofile/CharityProfileController.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'charity/js/app/components/charityprofile/CharityProfileService.js' %}"></script>


    <script type="text/javascript" src="{% static 'charity/js/app/components/payment/PaymentModule.js' %}"></script>
    <script type="text/javascript" src="{% static 'charity/js/app/components/payment/PaymentController.js' %}"></script>
    <script type="text/javascript" src="{% static 'charity/js/app/components/payment/PaymentService.js' %}"></script>

    <script type="text/javascript" src="{% static 'charity/js/app/components/preview/PreviewModule.js' %}"></script>
    <script type="text/javascript" src="{% static 'charity/js/app/components/preview/PreviewController.js' %}"></script>
    <script type="text/javascript" src="{% static 'charity/js/app/components/preview/PreviewService.js' %}"></script>
{% endcompress %}