{% load compress %}
{% load staticfiles %}

{% compress css %}

    <link rel="stylesheet" type="text/css" href="{% static 'dependencies/bootstrap/dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'charity/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'charity/css/spinloading.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'charity/css/stylesheet.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'charity/css/profile.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'dependencies/ngDialog/css/ngDialog.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dependencies/angular-material/angular-material.css' %}" />
{% endcompress %}

