<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Charity Website</title>
  <link data-require="bootstrap@*" data-semver="3.3.2" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  <script data-require="bootstrap@*" data-semver="3.3.2" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <!-- css -->
  <link rel="stylesheet" href="style.css" />
</head>

<body ng-app="linkingCharitiesWorldwideAppApp">
<div class="container">
  <div ng-controller="TestInfoCtrl">
    <p class="text-info">First Name : {{data.firstName | lowercase}}</p>
    <hr />
    <p class="text-info">Start Month : {{data.startDate | date:'MM'}} <!-- filter only month -->
    </p>
    <hr />
    <p class="text-info">{{data.dashes | removeAllSpaces}}</p> <!-- call filter.js -->
    <p></p>
    <hr />
    <div>
      <img ng-src="{{getPictureFromUrl()}}" />
    </div>
    <hr/>
    <div>
      <my-input/> <!-- directive -->
      <label>Github return code:
        <h4 ng-bind="status"></h4>
      </label>
    </div>
    <div>
      <pre>{{user | json}}</pre>
      {{error}}
    </div>
  </div>
</div>
<!-- ngsa then click tab for shortcut -->

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>

<script src="app/scripts/app.js"></script>
<script src="app/scripts/controllers/test.js"></script>
<script src="app/scripts/filters/filters.js"></script>
<script src="app/scripts/services/services.js"></script>
<script src="app/scripts/directives/directives.js"></script>

</body>
</html>
