body {
    height: 100%;
    color: #797979;
    background: #eeeeee;
    padding: 0px !important;
    margin: 0px !important;
    font-size:14px !important;
}

h1,h2,h3,h4,h5{
    font-weight: 300;
}

label{
    font-weight: 300;
}

ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
    outline: 0;
}

input:focus, textarea:focus { outline: none; }

table tr th { color: #688a7e;}

*:focus {outline: none;}

::selection {
    background: #688a7e;
    color: #fff;
}

::-moz-selection {
    background: #688a7e;
    color: #fff;
}

/*sidebar navigation*/
#sidebar {
    width: 180px;
    height: 93%;
    position: fixed;
    background: #394a59;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #394a59;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 0 0 0 32px;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #d0d8df;
    font-size: 14px;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    line-height: 20px !important;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
    font-size: 16px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #d0d8df;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}

ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #2e3b46;
    color: #fff;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    border-bottom: 1px solid #d0d8df;
}

ul.sidebar-menu .sub-menu li.active a{
    border-bottom: 1px solid #d0d8df;
}

ul.sidebar-menu li a i {
    font-size: 18px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li.active a i {
    color: #fff;
}

/*main content*/
#main-content {
    padding: 0px 0px 0px 0px;
    margin-left: 180px;
}

.wrapper {
    display: inline-block;
    margin-left: 15px;
    width: 97%;
}

.top-nav  {
    margin-top: 7px;
}

.page-header {
  margin: 12px 0 20px;
  border-bottom: none;
  opacity: 0.7;
  text-transform: uppercase;
}

.page-header i {
  color: #acb1b8;
  margin-right: 10px;
  float: left;
  font-size: 30px;
  line-height: 22px;
  opacity: 0.8;
}

.stuck {
    position: fixed;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 180px;
    overflow-y: auto;
    background-color: #eee;
}
.not-stuck {
    margin-left: 200px;
}

div.mainSection {
    padding-left: 180px;
}
.section {

}
.parallax {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	z-index: 1;
	color:#fff;
}
.wrapsection {
	padding-top:140px;
	padding-bottom:140px;
	position: relative;
}
.parallax-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
}
.parallax.section .container{
	position: relative;
	z-index: 4;
}
.maintitle,.service-box {
	text-align:center;
}
.section-title {
	text-transform:uppercase;
	font-size:30px;
	letter-spacing:5px;
}
.lighter {
	font-weight:100;
}
p.lead {
	font-size:24px;
	font-weight:200;
}
.maintitle .lead {
	max-width:840px;
	margin:0px auto;
	margin-bottom:80px;
	padding-left:20px;
	padding-right:20px;
}
.service-box {
	margin-bottom:30px;
	background-color:#fff;
	color:#444;
	padding:30px;
	position: relative;
}
.btn-info:hover,.btn-info:focus {
	background-color:#FFF;
	border-color:#FFF;
	color:#0299b8;
}
.service-box .glyphicon {
	font-size:60px;
	margin-bottom:20px;
}
#gallery .description {
	background-color:#fff;
	display:block;
	padding:20px 15px;
	color:#333;
	text-transform:uppercase;
	clear:both;
	position: relative;
}
#gallery .caption {
	float:left;
}
#gallery .camera {
	float:right;
}
@media (max-width:490px) {
	.wow {
					visibility: visible !important;
					-webkit-animation: none !important;
					 -moz-animation: none !important;
					   -o-animation: none !important;
					  -ms-animation: none !important;
						  animation: none !important;
	}
	.container {
					max-width:430px;
					padding-left:30px;
					padding-right:30px;
	}
	#hero h1 {
					font-size:38px;
	}
	#hero p.lead {
					font-size:1.5em;
	}
	.faq-block {
					margin: 0;
	}
}

#description .enTextArea {
    resize: none;
    color: black;
}
#description .disTextArea {
    resize: none;
    color: white;
    border: none;
    background: transparent;
}

.financialchart {
    width: 260px;
    height: 260px;
    text-align: center;
    margin: auto;
}

.service-box-transbg {
	margin-bottom:30px;
	background-color:transparent;
	color:#444;
	padding:30px;
	position: relative;
}